[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/gitmariosalazar/epaa-gateway.git
[submodule "qrcode"]
	path = qrcode
	url = https://github.com/gitmariosalazar/qrcode.git
[submodule "authentication"]
	path = authentication
	url = https://github.com/gitmariosalazar/auth-epaa.git
